<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       Customer Segmentation with K-means Clustering and Data Preparation Piplelines
  <br>
       <img id="teradata-logo" src="https://raw.githubusercontent.com/Teradata/lake-demos/8c77e9297e8f3059921aee472fc0ae30ae0537db/images/TeradataLogo.png" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>
<hr>

<br>

<b style = 'font-size:24px;font-family:Arial;color:#00233C'>Leverage native Vantage processing for efficient and highly scalable data preparation, model training, and evaluation workflows</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>K-means clustering is one of the most popular <b>unsupervised</b> machine learning algorithms.  Essentially, the algorithm seeks to group similar data points together by minimizing the average ("means" in K-means) distance for all data points from each cluster's center (centroid).</p>

<table style = 'width:100%;table-layout:fixed;color:#00233C'>
    <tr>
        <td style = 'vertical-align:top' width = '50%'>
            <ol style = 'font-size:16px;font-family:Arial'>
                <li>Define the number of clusters (k)</li>
                <br>
                <li>The algorithm chooses random points as centroids</li>
                <br>
                <li>Each iteration attempts to optimize the centroid locations</li>
                <br>
                <li>Iterations end once the distances have stabilized or the max iteration count is reached</li>
            </ol>
        </td>
        <td><img src = 'https://raw.githubusercontent.com/Teradata/lake-demos/6d68a7ce0de9c26c8429d7a1f84aa47de6cccec1/UseCases/Native-KMeans/images/K-means_convergence.gif' width = '250'></td>
    </tr>
</table>

<p style = 'font-size:16px;font-family:Arial'>One limitation of this algorithm is that it only accepts numeric data as feature input (categorical clustering can be performed using K-modes algorithm).  Typically, data engineers or data scientists will perform multiple <b>serial</b> steps to prepare a numeric-only data set that can be passed to the K-means algorithm.</p>

<p style = 'font-size:16px;font-family:Arial'>Vantage provides native "Fit and Transform" functions to assist in data preparation and transformation at scale.  To aid in efficiency and operationalization, Vantage provides a bulk <b>Column Transformer</b> function which can take multiple transformation directives at the same time, and act on the whole data set at once.  This allows for both process and code simplifcation, allowing more streamlined and robust operational deployment.</p> 

<img src = 'https://raw.githubusercontent.com/Teradata/lake-demos/6d68a7ce0de9c26c8429d7a1f84aa47de6cccec1/UseCases/Native-KMeans/Flow_Diagram_KMeans.png' width = 100%>
<hr>

<b style = 'font-size:24px;font-family:Arial;color:#00233C'>Live Demonstration</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The data for this demonstration is based on online purchase history data set, which can be found <a href = 'https://www.kaggle.com/code/hellbuoy/online-retail-k-means-hierarchical-clustering/data'>here</a>.  The goal is to segment the customers by purchase volume and value.  Steps are as follow:</p>

<table style = 'width:100%;table-layout:fixed;color:#00233C'>
    <tr>
        <td style = 'vertical-align:top' width = '50%'>
            <ol style = 'font-size:16px;font-family:Arial;color:#00233C'>
                <li>Analyze the raw data, split a testing set</li>
                <br>
                <li>Engineer numeric features</li>
                <br>
                <li>Build the K-means model</li>
                <br>
                <li>Apply in-line transformation to the testing set</li>
                <br>
                <li>Make Predictions and evaluate model accuracy</li>
            </ol>
        </td>
        <td><img src = 'https://raw.githubusercontent.com/Teradata/lake-demos/6d68a7ce0de9c26c8429d7a1f84aa47de6cccec1/UseCases/Native-KMeans/images/clustering_img.png' width = '250'></td>
    </tr>
</table>

<hr>
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Step 1 - Data Preparation</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Here, we will inspect the original data set, and perform various preparation tasks.</p>

<ol style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>Inspect the rows of the table</li>
    <li>Inspect the column metadata using <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Data-Exploration-Functions/TD_ColumnSummary'>TD_ColumnSummary</a></li>
    <li>Split off a testing data set to be used in evaluation</li>
    </ol>

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
%load_ext sql
%sql teradatasql://fabric_demo_user:fabric_demo_user@unlimited/

In [ ]:
%sql HELP DATALAKE td_fabric_datalake;

In [ ]:
%sql HELP DATABASE td_fabric_datalake.Build_Demos;

In [ ]:
%sql HELP TABLE td_fabric_datalake.Build_Demos.uk_retail_data;

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>1.1 - Inspect the Data</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Simple SQL query to show the data</p>

In [ ]:
%sql SELECT * FROM td_fabric_datalake.Build_Demos.uk_retail_data SAMPLE 5;

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>1.2 View Column information</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'><a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Data-Exploration-Functions/TD_ColumnSummary'>TD_ColumnSummary</a> provides more details on column values and ranges</p>

In [ ]:
%%sql
SELECT * FROM TD_ColumnSummary(
    ON td_fabric_datalake.Build_Demos.uk_retail_data as InputTable
    USING
        targetcolumns('[0:7]')
) as dt;

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>1.3 Create a Testing data set</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Manufactured example - select several "Customer ID" values for testing later.</p>

In [ ]:
%sql DROP TABLE UK_Retail_Test;

In [ ]:
%%sql
CREATE TABLE UK_Retail_Test AS (
    SELECT * FROM td_fabric_datalake.Build_Demos.uk_retail_data
    WHERE CustomerID IN ('17307', '12503', '18268', '12908', '13693')
) WITH DATA;

<hr>
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Step 2 - Feature Engineering</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>This section will illustrate how to prepare the data set for model training.  We will use standard SQL and various "Fit" functions to create input for the <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Feature-Engineering-Transform-Functions/TD_ColumnTransformer'>TD_ColumnTransformer</a> function to take as input in order to execute a bulk transformation.</p>

<ol style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>Create a per-customer grouping of data</li>
    <li>Create Fit Tables
        <ul><li>Remove Outliers</li>
            <li>Impute Missing Values</li>
            <li>Create New Numeric Features</li>
            <li>Rescale the Data Set</li>
        </ul></li>
    <li>Call the final Transformation function</li>
    </ol>

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>2.1 - Create a per-customer table</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Simple GROUP BY, exclude the testing IDs.  Note there are 4367 unique customers in this training set.</p>

In [ ]:
%sql DROP TABLE Customer_ID_Group

In [ ]:
%%sql
CREATE TABLE Customer_ID_Group AS (
    SELECT CustomerID,
        SUM(quantity) as TotalQuantity , 
        SUM(UnitPrice) as TotalPrice, 
        COUNT(DISTINCT(StockCode)) as TotalItems 
    FROM td_fabric_datalake.Build_Demos.uk_retail_data
    WHERE CustomerID NOT IN ('17307', '12503', '18268', '12908', '13693')
    GROUP BY CustomerID
) WITH DATA;

In [ ]:
%sql SELECT COUNT(*) FROM Customer_ID_Group;

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>2.2 Create Fit Tables</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Vantage <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Feature-Engineering-Transform-Functions'>Feature Engineering Transform Functions</a> Use a "Fit and Transform" approach to make processing more modular and efficient.  "Fit tables" can be used as input to either individual Transform functions, or passed to a single <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Feature-Engineering-Transform-Functions/TD_ColumnTransformer'>TD_ColumnTransformer</a> function.</p>

<table style = 'width:100%;table-layout:fixed;'>
    <tr>
        <td style = 'vertical-align:top' width = '50%'>
<ul style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>Fit outlier removal using <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Data-Cleaning-Functions/Handling-Outliers/TD_OutlierFilterFit'>TD_OutlierFilterFit</a></li>
    <li>Fit a simple imputer to replace missing values using <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Data-Cleaning-Functions/Handling-Missing-Values/TD_SimpleImputeFit'>TD_SimpleImputeFit</a></li>
    <li>Fit column calculations to create new features using <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Feature-Engineering-Transform-Functions/TD_NonLinearCombineFit'>TD_NonLinearCombineFit</a></li>
    <li>Call <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Feature-Engineering-Transform-Functions/TD_ColumnTransformer'>TD_ColumnTransformer</a> to execute the transformations (to allow for Scaling)</li>
    <li>Rescale the data using <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Feature-Engineering-Transform-Functions/TD_ScaleFit'>TD_ScaleFit/Transform</a></li>
            </ul></td>
        <td><img src = 'https://raw.githubusercontent.com/Teradata/lake-demos/6d68a7ce0de9c26c8429d7a1f84aa47de6cccec1/UseCases/Native-KMeans/images/fit_transform.png' width = '300'></td>
    </tr>
    </table>

In [ ]:
%sql DROP TABLE OutlierFit_CS

In [ ]:
%%sql
/*Remove Outliers
Trim below 3rd, and above 97th percentile */

CREATE TABLE outlierFit_CS as (
    SELECT * from TD_OutlierFilterFit(
        ON Customer_ID_Group as inputTable
        USING
        TargetColumns('TotalQuantity','TotalPrice')
        LowerPercentile(0.03)
        UpperPercentile(0.97)
        OutlierMethod('Percentile')
        PercentileMethod('PercentileCont')
        ReplacementValue('Median')
    )as dt
) WITH DATA

In [ ]:
%sql DROP TABLE ImputeFit_CS

In [ ]:
%%sql
/*Impute Missing Values
--Replace any missing CustomerID with a specific value*/

CREATE TABLE ImputeFit_CS AS (
    SELECT * FROM TD_SimpleImputeFit(
        ON Customer_ID_Group AS InputTable
        USING
        ColsForLiterals('CustomerID')
        Literals('19000')                                        
    ) AS dt
)WITH DATA

In [ ]:
%sql DROP TABLE NonLinearCombineFit_CS_TotalSales

In [ ]:
%%sql
/*Create a new column by multiplying quantity and price */

SELECT * FROM TD_NonLinearCombineFit (
    ON Customer_ID_Group as InputTable
    OUT TABLE OutputTable (NonLinearCombineFit_CS_TotalSales)
    USING
        TargetColumns ('TotalQuantity','TotalPrice')
        Formula ('Y = X1*X0')
        ResultColumn ('TotalSales')
) AS dt;

In [ ]:
%sql DROP TABLE NonLinearCombineFit_CS_SalesPerItem

In [ ]:
%%sql
/*Create another new column by diving the total sales by the number of unique items */

SELECT * FROM TD_NonLinearCombineFit (
   ON Customer_ID_Group AS InputTable
   OUT TABLE OutputTable (NonLinearCombineFit_CS_SalesPerItem)
   USING
   TargetColumns ('TotalQuantity','TotalPrice','TotalItems')
   Formula ('Y = (X0*X1)/X2')
   ResultColumn ('SalesPerItem')
) AS dt;

In [ ]:
%%sql
/*Execute ColumnTransformer to build the data set */

REPLACE VIEW Transformed_Customer_ID_Group_V AS (
    SELECT * from TD_ColumnTransformer(
        ON Customer_ID_Group AS InputTable
        
        ON OutlierFit_CS AS OutlierFilterFitTable DIMENSION
        ON ImputeFit_CS AS SimpleImputeFitTable DIMENSION
        ON NonLinearCombineFit_CS_TotalSales AS NonLinearCombineFitTable DIMENSION
        ON NonLinearCombineFit_CS_SalesPerItem as NonLinearCombineFitTable DIMENSION
    )as dt
)

In [ ]:
%sql DROP TABLE ScaleFit_CS

In [ ]:
%%sql
/*ScaleFit/Transform to rescale the data */

SELECT * FROM TD_ScaleFit(
    ON Transformed_Customer_ID_Group_V AS InputTable
    OUT TABLE OutputTable(ScaleFit_CS)
    USING
        TargetColumns('TotalQuantity','TotalItems','TotalPrice','TotalSales','SalesPerItem')
        ScaleMethod('range')
) as dt;

In [ ]:
%%sql
REPLACE VIEW Scaled_Transformed_Customer_ID_Group_V AS (
    SELECT * FROM TD_ScaleTransform(
        ON Transformed_Customer_ID_Group_V AS InputTable
        ON ScaleFit_CS as FitTable DIMENSION
        USING
            Accumulate('CustomerID')
    )as dt
)

In [ ]:
%sql SELECT TOP 5 * FROM Scaled_Transformed_Customer_ID_Group_V

<hr>
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Step 3 - Build the K-means Model</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>As discussed above, the K-means algorithm takes a number of clusters "k", chooses a random starting point for each centroid, and iterates until a hard limit, or an optimium value is reached.</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'><b>Finding an Ideal value for K</b></p>
<table style = 'width:100%;table-layout:fixed;'>
    <tr>
        <td style = 'vertical-align:top' width = '50%'>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The example below uses a value of 5 for the number of clusters to build the model against.  Typically, data scientists will build the model using various values for "k", and plot the "WCSS" (Within Cluster Sum-of-Squares) value on a series of each value chosen for k.  The "elbow" point (where the slope changes) is usually a good value for k.  <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Model-Training-Functions/TD_KMeans'>TD_KMeans</a> function will return this value as "TotalWithinSS : ###" as a row in the "td_modelinfo_kmeans" column.</p></td>
        <td><img src = 'https://raw.githubusercontent.com/Teradata/lake-demos/6d68a7ce0de9c26c8429d7a1f84aa47de6cccec1/UseCases/Native-KMeans/images/WCSS_elbow.png' width = '300'></td>
    </tr>
    </table>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'><b>Other Function Parameters Include (but are not limited to)</b></p>
<ul style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>Input Table</li>
    <li>StopThreshold - The algorithm converges if the distance between the centroids from the previous iteration and the current iteration is less than the specified value.</li>
    <li>MaxIterNum</li>Specify the maximum number of iterations for the K-means algorithm. The algorithm stops after performing the specified number of iterations even if the convergence criterion is not met.
    </ul>

In [ ]:
%sql DROP TABLE KMeans_Model

In [ ]:
%%sql
Select * from TD_KMeans (
    ON Scaled_Transformed_Customer_ID_Group_V as InputTable
    OUT TABLE ModelTable(KMeans_Model)
    USING
        IdColumn('CustomerID')
        TargetColumns('TotalQuantity','TotalPrice','TotalItems','TotalSales','SalesPerItem')
        StopThreshold(0.0395)
        NumClusters(5)
        --Seed(0)
        MaxIterNum(500)
)as dt;

SELECT td_clusterid_kmeans, td_size_kmeans, td_withinss_kmeans, td_modelinfo_kmeans 
FROM KMeans_Model;

<hr>
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Step 4 - Bulk Transformation</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Here, the Fit tables created above will be passed to a single <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Feature-Engineering-Transform-Functions/TD_ColumnTransformer'>TD_ColumnTransformer</a> function.  This is similar to an operational approach, where a single query will prepare new or incoming data for immediate analysis.</p>

<img src = 'https://raw.githubusercontent.com/Teradata/lake-demos/6d68a7ce0de9c26c8429d7a1f84aa47de6cccec1/UseCases/Native-KMeans/images/column_transformer.png' width = '300'>

In [ ]:
%sql SELECT TOP 5 * FROM UK_Retail_Test;

In [ ]:
%%sql
/*Steps broken up above can be put together into a single query */

REPLACE VIEW Scaled_Transformed_Test_V AS (
    
SELECT * FROM TD_ColumnTransformer(
            --Use our groupby inside the ON clause
            ON (SELECT CustomerID,
                    SUM(quantity) as TotalQuantity , 
                    SUM(UnitPrice) as TotalPrice, 
                    COUNT(DISTINCT(StockCode)) as TotalItems
                FROM UK_Retail_Test
                GROUP BY CustomerID
                ) AS InputTable
            
            --Pass each fit table from above as dimensions
            ON OutlierFit_CS AS OutlierFilterFitTable DIMENSION
            ON ImputeFit_CS AS SimpleImputeFitTable DIMENSION
            ON NonLinearCombineFit_CS_TotalSales AS NonLinearCombineFitTable DIMENSION
            ON NonLinearCombineFit_CS_SalesPerItem AS NonLinearCombineFitTable DIMENSION
            ON ScaleFit_CS as ScaleFitTable DIMENSION
    )as dt
)

In [ ]:
%sql SELECT TOP 5 * FROM Scaled_Transformed_Test_V;

<hr>
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Step 5 - Predict and Evaluate</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Finally, we run the model against new (in this case testing) data using <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Model-Scoring-Functions/TD_KMeansPredict'>TD_KMeansPredict</a>.  The preparation step has been completed in a single query above.  Additionally, we will use an evaluation function <a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Model-Evaluation-Functions/TD_Silhouette'>TD_Silhouette</a> to analyze how well the new cluster predictions match the original model.</p>

<ol style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>Call TD_KMeansPredict</li>
    <li>Inpect the results</li>
    <li>Call TD_Silhouette on the output</li>
    </ol>

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>5.1 - Call the Prediction Function</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Pass the Input Data, Model Table, and other parameters including columns to accumulate.  Note here we create a new View to assist with Silhouette analysis of the prediction.</p>

In [ ]:
%%sql
REPLACE VIEW KMeans_Output_V AS (
    SELECT * FROM TD_KMeansPredict (
        ON Scaled_Transformed_Test_V AS InputTable
        ON KMeans_Model as ModelTable DIMENSION
        USING
            OutputDistance('true')
            Accumulate('[1:5]')
    )as dt
)

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>5.2 - Inspect the Results</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Simple SELECT</p>

In [ ]:
%sql SELECT TOP 5 * FROM KMeans_Output_V ;

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>5.3 - Evaluate the Prediction</b>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'><a href = 'https://docs-dev.teradata.com/r/Teradata-VantageTM-Advanced-SQL-Engine-Analytic-Functions/June-2022/Model-Evaluation-Functions/TD_Silhouette'>TD_Silhouette</a> is a native Vantage function that evaluates the similarity of an object to its cluster (cohesion) compared to other clusters (separation).  The silhouette scores and its definitions are as follows:</p>

<ul style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>1: Data is appropriately clustered</li>
    <li>-1: Data is not appropriately clustered</li>
    <li>0: Datum is on the border of two natural clusters</li>
    </ul>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>See the documentation for a full listing of parameters and return values.</p>

In [ ]:
%%sql
SELECT * FROM TD_Silhouette(
    ON KMeans_Output_V as inputTable
    USING
        IdColumn('CustomerID')
        ClusterIdColumn('td_clusterid_kmeans')
        TargetColumns('[3:7]')
        OutputType('SCORE')
) as dt

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#00233C'>Clean Up</b>

In [ ]:
%%sql 
DROP TABLE UK_Retail_Test;
DROP TABLE Customer_ID_Group;
DROP VIEW Transformed_Customer_ID_Group_V;
DROP VIEW Scaled_Transformed_Customer_ID_Group_V;
DROP VIEW Scaled_Transformed_Test_V;
DROP VIEW KMeans_Output_V;
DROP TABLE KMeans_Model;
DROP TABLE ScaleFit_CS;
DROP TABLE NonLinearCombineFit_CS_SalesPerItem;
DROP TABLE NonLinearCombineFit_CS_TotalSales;
DROP TABLE ImputeFit_CS;
DROP TABLE OutlierFit_CS;